/* components/RoomModel.module.css */
.container {
    position: relative;
  }
  
  .infoCard {
    position: absolute;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 10px;
    left: 10px;
  }
  